.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

.title-contact-card {
    color: grey;
    font-size: 18px;
}

.name-contact-card {
    margin-top: 15px;
}

.button-card-card {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

.a-card-title {
    font-size: 22px;
}

.button-card-card:hover, a:hover {
    opacity: 0.7;
}