.top-margin.hi-text.h1.cursor-animation
  span.txt-rotate(data-period='2000' data-rotate=[ t("home.hi1"), t("home.hi2"), t("home.hi3"), t("home.hi4"), t("home.hi5") ])
  span.spacing-pre-emoji(" ")
  | &#x1F44B;