ul.list-unstyled
    li.mb-1
        i.fas.fa-mountain.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.hobbies.hiking")
    li.mb-1
        i.fas.fa-bread-slice.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.hobbies.bread")
    li.mb-1 
        i.fas.fa-skiing-nordic.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.hobbies.skiing")
    li.mb-1 
        i.fas.fa-biking.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.hobbies.cycling")
    li.mb-1 
        i.fas.fa-microchip.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.hobbies.hardware")