.top-margin.hi-text.h1.cursor-animation
  span.txt-rotate(data-period='2000' data-rotate=[ t("about.hi1"), t("about.hi2"), t("about.hi3"), t("about.hi4"), t("about.hi5") ])
  span.spacing-pre-emoji(" ")
  | &#x1F44B;