ul.list-unstyled
    li.mb-1
        i.fas.fa-flag.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.engagements.bannercarrier")
    li.mb-1
        i.fas.fa-university.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.engagements.hp")
    li.mb-1
        i.fas.fa-chalkboard-teacher.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.engagements.hometownambassador")
