ul.list-unstyled
    li.mb-1
        i.fas.fa-atom.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.interests.particle")
    li.mb-1
        i.fas.fa-radiation.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.interests.nuclear")
    li.mb-1
        i.fas.fa-server.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.interests.simulations")
    li.mb-1
        i.fas.fa-flask.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.interests.experiments")
    li.mb-1
        i.fas.fa-code-branch.fa-fw.mr-2(data-fa-transform='grow-1')
        = t("cv.interests.opensource")