.resume-skill-item
    h4.resume-skills-cat.font-weight-bold= t("cv.skills.software")
    ul.list-unstyled.mb-4
        li.mb-2
            .resume-skill-name Python
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name C# / C++
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 80%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name Node.js
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name HTML/CSS
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name Git
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 95%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
// //resume-skill-item
.resume-skill-item
    h4.resume-skills-cat.font-weight-bold= t("cv.skills.hardware")
    ul.list-unstyled
        li.mb-2
            .resume-skill-name Arduino
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 80%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name= t("cv.skills.computerassembly")
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 92%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        li.mb-2
            .resume-skill-name= t("cv.skills.circuits")
            .progress.resume-progress
                .progress-bar.theme-progress-bar-dark(role='progressbar' style='width: 75%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
// //resume-skill-item
//- .resume-skill-item
//-     h4.resume-skills-cat.font-weight-bold Others
//-     ul.list-inline
//-         li.list-inline-item
//-             span.badge.badge-light DevOps
//-         li.list-inline-item
//-             span.badge.badge-light Code Review
//-         li.list-inline-item
//-             span.badge.badge-light Git
//-         li.list-inline-item
//-             span.badge.badge-light Unit Testing
//-         li.list-inline-item
//-             span.badge.badge-light Wireframing
//-         li.list-inline-item
//-             span.badge.badge-light Sketch
//-         li.list-inline-item
//-             span.badge.badge-light Balsamiq
//-         li.list-inline-item
//-             span.badge.badge-light WordPress
//-         li.list-inline-item
//-             span.badge.badge-light Shopify