section.resume-section.experience-section.mb-5
h2.resume-section-title.text-uppercase.font-weight-bold.pb-3.mb-3= t("cv.edu.title")
.resume-section-content
.resume-timeline.position-relative
article.resume-timeline-item.position-relative.pb-5
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1 Lead Developer
            .resume-company-name.ml-auto Startup Hub
        // //row
        .resume-position-time 2018 - Present
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p
            | Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.
        h4.resume-timeline-item-desc-heading.font-weight-bold Achievements:
        p
            | Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
        ul
            li Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
            li At vero eos et accusamus et iusto odio dignissimos.
            li Blanditiis praesentium voluptatum deleniti atque corrupti.
            li Maecenas tempus tellus eget.
        h4.resume-timeline-item-desc-heading.font-weight-bold Technologies used:
        ul.list-inline
            li.list-inline-item
                span.badge.badge-primary.badge-pill Angular
            li.list-inline-item
                span.badge.badge-primary.badge-pill Python
            li.list-inline-item
                span.badge.badge-primary.badge-pill jQuery
            li.list-inline-item
                span.badge.badge-primary.badge-pill Webpack
            li.list-inline-item
                span.badge.badge-primary.badge-pill HTML/SASS
            li.list-inline-item
                span.badge.badge-primary.badge-pill PostgresSQL
// //resume-timeline-item-desc
// //resume-timeline-item
article.resume-timeline-item.position-relative
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1
                | Web Developer 
                small.text-muted (Intern)
            .resume-company-name.ml-auto Amazon
        // //row
        .resume-position-time 2011 - 2012
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p
            | Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum.
        h4.resume-timeline-item-desc-heading.font-weight-bold Technologies used:
        ul.list-inline
            li.list-inline-item
                span.badge.badge-primary.badge-pill Ruby on Rails
            li.list-inline-item
                span.badge.badge-primary.badge-pill jQuery
            li.list-inline-item
                span.badge.badge-primary.badge-pill HTML/LESS
            li.list-inline-item
                span.badge.badge-primary.badge-pill MongoDB
// //resume-timeline-item-desc
// //resume-timeline-item
// //resume-timeline
// //experience-section