article.resume-timeline-item.position-relative.pb-5
    .resume-timeline-item-header.mb-2
        .d-flex.flex-column.flex-md-row
            h3.resume-position-title.font-weight-bold.mb-1 
                = t("cv.work.research_teachingBEFORE_TEACHING.title")
            .resume-company-name.ml-auto= t("cv.work.research_teachingBEFORE_TEACHING.location")
        // //row
        .resume-position-time 2021 - 
            = t("cv.present")
    // //resume-timeline-item-header
    .resume-timeline-item-desc
        p= t("cv.work.research_teachingBEFORE_TEACHING.body")
        h4.resume-timeline-item-desc-heading.font-weight-bold= t("cv.work.research_teachingBEFORE_TEACHING.involvements.title")
            |:
        ul
            li= t("cv.work.research_teachingBEFORE_TEACHING.involvements.research_nn")
            //- li= t("cv.work.research_teachingBEFORE_TEACHING.involvements.research_batteries")
            //- li= t("cv.work.research_teachingBEFORE_TEACHING.involvements.teaching")